html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#titulo{
    text-decoration:solid;
    text-align:center;    
}
.fondo{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 236, 236);
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: center;
}
.seccion1, .seccion2, .seccion3, .seccion4{
    background-color: white;
    width: 550px;
    height: 550px;
    width: 550px;
    margin:auto;
}
.tituloseccion{
    width: 530px;
    padding: 10px;
}
#p1{
    float:left;
    text-decoration: solid;
    font-weight: bolder;
}
#p2{
    float:right;
    color:rgb(197, 195, 193);
}
.imagen{
    width: 550px;
    height: 400px;
    object-fit: cover;
}
.epigrafeseccion{
    width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.estilo{
    text-decoration: solid;
    font-weight: bolder;
}

